%div.boxtitle
  Donated Items
%div.boxcontent
  - column_titles = ['Item Code', 'Item Name', '', '# Donated', 'Donated On', 'Done', 'Comments']
  = index_table(@donor.donor_items.ordered_by_item_category, column_titles, 'donor_items/donor_item') 
