%h2
  Donors
= render(:partial => "shared/flashes")

= button_to("Create a new Donor", new_donor_path, :method => :get)
%br

- column_titles = ['ID', 'Name', 'Phone', 'Donation Amount', 'City Section', 'Scheduled Pickup Time', 'Possible Future Pickup', 'Actions']
= table_header(@the_things, column_titles, 'donor')

%br
%br
Website -- TODO:
%br
%br
user permissions (pw protected)
%br
case worker model (drop down selection or add new)
%br
remove status #
%br

%br
add searching (by names, region, address, etc
%br
split items into category sections (the section should always display in the same order
%br
delivery sheet view (any maybe later make it the place to enter the data
%br
add geneder, age, and other fields as needed (Dad will give me a list)
%br

%br

%br

%br

%br

