%h3
  Create New Donor
%div
  - @donor = @the_thing
  - form_for(@donor, :url => {:action => "create"}, :html => {:method => :post}) do |f|
    %fieldset
      %table
        = render :partial => "form", :locals => {:f => f}
        
      = render :partial => "donors/edit_donor_items", :locals => {:f => f}
      = f.submit "Create"
      |
      = link_to 'Back to Donor Index', donors_path
-#%div.right_half
-#  = image_tag "winnipeg_neighborhood_sections.gif", :border => "0", :width => "420", :height => "457", :usemap => "#Map", :alt => "Map of Neighbourhood Clusters"

