/*med_blue = #086CA2
light_blue = #3C9DD0
lighter_blue = #64AAD0
dark_blue = #034569
dark_orange = #A63E00
*/

fieldset {
  background-color: #B4F5AB; /* light green */
  }
  
td.form_label {
  float: right;
  font-weight: bold;
  }
  
tr.form_field.required {
  color: #A63E00;
  }

