%div.boxtitle
  All Deliveries
%div.boxcontent
  - column_titles = ['ID', 'Scheduled Time', 'Delivered On', 'State', 'Items', 'Actions']
  = table_header(@recipient.deliveries.all(:order => 'scheduled_delivery_time DESC'), column_titles, 'deliveries/delivery')     
