%div
  - @delivery = @the_thing unless @delivery
  - form_for(@delivery, :url => recipient_delivery_path(@recipient, @delivery), :html => {:method => :put}) do |f|
    %fieldset
      %table
        = render :partial => "deliveries/form", :locals => {:f => f}
      = render :partial => "deliveries/edit_delivered_items", :locals => {:f => f}
      
      
      = f.submit "Save"
      |
      = link_to 'Edit Recipient', edit_recipient_path(@recipient)
  %br
  -#= button_to "Add Item to this Delivery", new_recipient_delivery_delivered_item_path(@recipient, @delivery), {:method => :get}
  %br
  -#= render "delivered_items/delivered_items"
