%h3
  Create New Delivery
%div
  - @delivery = @the_thing
  - form_for(Delivery.new, :url => recipient_deliveries_path(@recipient), :html => {:method => :post}) do |f|
    %fieldset
      %table
        = render :partial => "form", :locals => {:f => f}
      = render :partial => "deliveries/edit_delivered_items", :locals => {:f => f}
      
      = f.submit "Create"
      |
      = link_to 'Cancel', edit_recipient_path(@recipient)

