%div.boxtitle
  Delivered Items
  - # NOT USED ANYMORE
%div.boxcontent
  - column_titles = ['Item Code', 'Item Name', '', '# Requested', '# Delivered', 'Comments', 'Actions']
  = index_table(@delivery.delivered_items.ordered_by_item_category, column_titles, 'delivered_items/delivered_item') 
