%h2
  Items
= render(:partial => "shared/flashes")

= button_to("Create a new Item", new_item_path, :method => :get)
<br>

- column_titles = ['ID', 'Category', 'Item Code', 'Name', 'Obsolete', 'Description', 'Icon', 'Actions']
= table_header('Item', @the_things, column_titles, 'item')

