%tr.form_field.required
  %td.form_label
    = f.label :name
  %td
    = f.text_field :org_short_name, :size => 20
%tr.form_field
  %td.form_label
    = f.label :description
  %td
    = f.text_field :org_description, :size => 20
  
-#%td.form_label  
-#  = f.label :state
-#%td
-#  = f.select :state, {'Active' => 1, 'Inactive' => 0}

