%h2
  Organizations
= render(:partial => "shared/flashes")

= button_to("Create a new Organization", new_organization_path, :method => :get)
%br

- column_titles = ['ID', 'Name', 'Description', 'Actions']
= table_header(@the_things, column_titles, 'organization')
